.chat-container {
    display: flex;
    flex-direction: column;
    background: white;
    height: 100%;
}

.chat-container ul {
    list-style: none;
    padding: 0;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
    height: 100%;
}

.chat-container li {
    margin: 15px 15px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.chat-container div:nth-child(1) {
    font-size: 11px;
    color: black;
    opacity: 0.8;
    margin-bottom: 5px;
}

.chat-container div:nth-child(2) {
    color: white;
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}

.orange {
    background: #F2994A;
}

.purple {
    background: #9B51E0;
}
