.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: flex-end;
    height: 100%;
}

.visible {
    margin-right: 0;
}

.hidden {
    margin-right: -500px;
}