.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.visible {
    margin-right: 0;
}

.hidden {
    margin-right: -500px;
}